@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

nav ul {
    margin-left: 2%;
}    
    
nav button { 
    display:none; 
}  /* hamburger button does not need to be shown */

nav ul.hide {
    display: block;
}
    
nav ul li {
    display: inline-block;
    text-align: center;
    float: none;
    position: relative;
}

nav ul li a {
    border: none;
    padding: .8rem 1rem;
}    
    
main figure {
    display: flex;
    justify-content: center;
    max-width: 400px; 
}
    
section.forecast h3 {
    text-align: center;
    margin: 5px;
}

section.forecast th {
    color: white;
}
    
section.forecast { 
    display: inline;
}  /* show the 10-day forecast with the medium view and up */

.current h3 {
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}   
    
.current img {
    margin: auto;
    display: block;
    height: auto;
    width: 40%;
    padding: 10px;
}

table {
    width: 100%;
    border: 2px solid black;
}    

th {
    height: 50px;
    text-align: center;
    background-color: #808080;
    width: auto;
}  
    
td {
    text-align: center;
    width: auto;
}
    
article p.town-article img { 
    width: 40%;
    height: auto;
    float: right;  /* responsive images */
    padding: 0px 0px 0px 50px;
}

footer {
    clear: both;
}

footer aside {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1f;
    grid-row-gap: 20px;
     
}

.gallery img:hover {
    box-shadow: 0px 0px 20px #777777;
}    
    
}